In [1]:
import pandas as pd

data = pd.read_stata("callreports_final.dta", chunksize=100000)

df = pd.DataFrame()

for chunk in data:
    df=df.append(chunk)

print(df.head(5))

   rssdid  chartertype     cert  bhcid        date               name  assets  \
0    28.0        200.0  26606.0    0.0  19860331.0  FIRST ATLANTIC BK  2779.0
1    28.0        200.0  26606.0    0.0  19860630.0  FIRST ATLANTIC BK  4322.0
2    28.0        200.0  26606.0    0.0  19860930.0  FIRST ATLANTIC BK  5118.0
3    28.0        200.0  26606.0    0.0  19861231.0  FIRST ATLANTIC BK  5742.0
4    28.0        200.0  26606.0    0.0  19870331.0  FIRST ATLANTIC BK  7737.0

   reloans    cash  persloans  ...  intincforloans  intincleases  \
0      0.0  1395.0       23.0  ...             NaN           0.0
1    808.0   153.0      820.0  ...             NaN           0.0
2   1406.0   601.0     1063.0  ...             NaN           0.0
3   1701.0   292.0      995.0  ...             NaN           0.0
4   2451.0   701.0     1179.0  ...             NaN           0.0

   intincassets  intexptransdep  intexpsavdep  intexpfordep  \
0          22.0             NaN           NaN           0.0
1          72.0             NaN           NaN           0.0
2         100.0             NaN           NaN           0.0
3         111.0             NaN           NaN           0.0
4         134.0            11.0          16.0           0.0

   intexpfedfundsrepoliab  intincpersloans  intincreloans  \
0                     0.0              NaN            NaN
1                     0.0              NaN            NaN
2                     0.0              NaN            NaN
3                     0.0              NaN            NaN
4                     0.0              NaN            NaN

   dividendoncommonstock
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN

[5 rows x 167 columns]

In [2]:
is_rssid = df["rssdid"]==28.0

new_df = df[is_rssid]

print(new_df[new_df["date"]==19860331.0])

   rssdid  chartertype     cert  bhcid        date               name  assets  \
0    28.0        200.0  26606.0    0.0  19860331.0  FIRST ATLANTIC BK  2779.0

   reloans    cash  persloans  ...  intincforloans  intincleases  \
0      0.0  1395.0       23.0  ...             NaN           0.0

   intincassets  intexptransdep  intexpsavdep  intexpfordep  \
0          22.0             NaN           NaN           0.0

   intexpfedfundsrepoliab  intincpersloans  intincreloans  \
0                     0.0              NaN            NaN

   dividendoncommonstock
0                    NaN

[1 rows x 167 columns]

In [3]:
print(df["date"].value_counts())

19830630.0    14477
19830331.0    14465
19770630.0    14446
19810630.0    14440
19820930.0    14437
              ...
20121231.0     6037
20130331.0     5985
20130630.0     5918
20130930.0     5875
20131231.0     5816
Name: date, Length: 152, dtype: int64

In [4]:
print(df.columns.values)

['rssdid' 'chartertype' 'cert' 'bhcid' 'date' 'name' 'assets' 'reloans'
 'cash' 'persloans' 'agloans' 'subordinateddebt' 'equity' 'demanddep'
 'transdep' 'brokereddep' 'timedepge100k' 'timedeple100k' 'ciloans'
 'loans' 'loansnet' 'fedfundsrepoasset' 'tradingassets' 'securities'
 'securities_ammcost' 'securitiesheldtomaturity'
 'securitiesavailableforsale' 'liabilities' 'deposits' 'foreigndep'
 'nonintbeardep' 'intbeardep' 'intbearfordep' 'fedfundsrepoliab'
 'tradingliabilities' 'otherborrowedmoney' 'timesavdep' 'nontransdep'
 'timedep' 'timedepuninsured' 'savdep' 'totsavdep' 'numemployees'
 'intexpdep' 'qavgbaldue' 'qavgtreasuriesagencydebt' 'qavgmbs'
 'qavgothersecurities' 'qavgtradingassets' 'qavgfedfundsrepoasset'
 'qavgloans' 'qavgreloans1to4fam' 'qavgreloansother' 'qavgagloans'
 'qavgciloans' 'qavgpersccards' 'qavgpersother' 'qavgforloans'
 'qavgleases' 'qavgassets' 'qavgtransdep' 'qavgsavdep' 'qavgtimedepge100k'
 'qavgtimedeple100k' 'qavgfordep' 'qavgfedfundsrepoliab'
 'qavgtradingandotherborrowed' 'intexptradingandotherborrowed'
 'qavgpersloans' 'qavgreloans' 'qavgsecurities' 'securities_less_3m'
 'securities_3m_1y' 'securities_1y_3y' 'securities_3y_5y'
 'securities_5y_15y' 'securities_over_15y' 'securitiestreasury_less_3m'
 'securitiestreasury_3m_1y' 'securitiestreasury_1y_3y'
 'securitiestreasury_3y_5y' 'securitiestreasury_5y_15y'
 'securitiestreasury_over_15y' 'securitiesrmbs_less_3m'
 'securitiesrmbs_3m_1y' 'securitiesrmbs_1y_3y' 'securitiesrmbs_3y_5y'
 'securitiesrmbs_5y_15y' 'securitiesrmbs_over_15y'
 'securitiesothermbs_less_3y' 'securitiesothermbs_over_3y'
 'loansleases_mat_less_1y' 'securities_mat_less_1y' 'resloans_less_3m'
 'resloans_3m_1y' 'resloans_1y_3y' 'resloans_3y_5y' 'resloans_5y_15y'
 'resloans_over_15y' 'loansleases_less_3m' 'loansleases_3m_1y'
 'loansleases_1y_3y' 'loansleases_3y_5y' 'loansleases_5y_15y'
 'loansleases_over_15y' 'timedeple100k_less_3m' 'timedeple100k_3m_1y'
 'timedeple100k_1y_3y' 'timedeple100k_over_3y' 'timedeple100k_less_1y'
 'timedepge100k_less_3m' 'timedepge100k_3m_1y' 'timedepge100k_1y_3y'
 'timedepge100k_over_3y' 'interestratederivatives'
 'interestratederivatives_par' 'grosshedging' 'fixedrateswaps'
 'totalswaps' 'floatingrateswaps' 'nethedging' 'grosstrading' 'year'
 'month' 'quarter' 'day' 'dateq' 'operinc' 'intexp' 'intincnet'
 'nonintinc' 'domdepservicecharges' 'nonintexp' 'intandnonintexp'
 'salaries' 'intexpalldep' 'intexpdomdep' 'intexpsubordinated'
 'exponpremises' 'intanddivincsecurities' 'loanleaselossprovision'
 'netinc' 'intexptimedepge100k' 'intexptimedeple100k' 'tradingrevenue'
 'intincbaldue' 'intinctreasuriesagencydebt' 'intincmbs'
 'intincothersecurities' 'intincfedfundsrepoasset' 'intincloans'
 'intincreloans1to4fam' 'intincreloansother' 'intincagloans'
 'intincciloans' 'intincpersccards' 'intincpersother' 'intincforloans'
 'intincleases' 'intincassets' 'intexptransdep' 'intexpsavdep'
 'intexpfordep' 'intexpfedfundsrepoliab' 'intincpersloans' 'intincreloans'
 'dividendoncommonstock']

In [5]:
print(df[df.rssdid==37][["rssdid","name", "bhcid"]])

     rssdid                    name  bhcid
31     37.0  BANK OF HANCOCK COUNTY    0.0
32     37.0     BANK OF HANCOCK CTY    0.0
33     37.0  BANK OF HANCOCK COUNTY    0.0
34     37.0     BANK OF HANCOCK CTY    0.0
35     37.0  BANK OF HANCOCK COUNTY    0.0
..      ...                     ...    ...
178    37.0     BANK OF HANCOCK CTY    0.0
179    37.0     BANK OF HANCOCK CTY    0.0
180    37.0     BANK OF HANCOCK CTY    0.0
181    37.0     BANK OF HANCOCK CTY    0.0
182    37.0     BANK OF HANCOCK CTY    0.0

[152 rows x 3 columns]

In [6]:
print(df.index)

Int64Index([      0,       1,       2,       3,       4,       5,       6,
                  7,       8,       9,
            ...
            1609530, 1609531, 1609532, 1609533, 1609534, 1609535, 1609536,
            1609537, 1609538, 1609539],
           dtype='int64', length=1609540)

In [7]:
df_index = df.set_index("rssdid")
print(df_index.index)

Float64Index([     28.0,      28.0,      28.0,      28.0,      28.0,      28.0,
                   28.0,      28.0,      28.0,      28.0,
              ...
              4262543.0, 4262543.0, 4262543.0, 4262543.0, 4262543.0, 4262543.0,
              4262543.0, 4536084.0, 4569167.0, 4589857.0],
             dtype='float64', name='rssdid', length=1609540)

In [8]:
rowData = df_index.loc[(df_index["year"]== 2010.0) & (df_index.index==37.0)]
rowData = rowData[["name","cash", 'year', 'month','quarter']]
print(rowData)
cumsum = rowData["cash"].cumsum()
print(cumsum)

                       name    cash    year  month  quarter
rssdid
37.0    BANK OF HANCOCK CTY  7374.0  2010.0    3.0      1.0
37.0    BANK OF HANCOCK CTY  4039.0  2010.0    6.0      2.0
37.0    BANK OF HANCOCK CTY  7382.0  2010.0    9.0      3.0
37.0    BANK OF HANCOCK CTY  8867.0  2010.0   12.0      4.0
rssdid
37.0     7374.0
37.0    11413.0
37.0    18795.0
37.0    27662.0
Name: cash, dtype: float64

In [9]:
rowData.insert(loc=1, column = "cumsum", value=cumsum)
print(rowData)

                       name   cumsum    cash    year  month  quarter
rssdid
37.0    BANK OF HANCOCK CTY   7374.0  7374.0  2010.0    3.0      1.0
37.0    BANK OF HANCOCK CTY  11413.0  4039.0  2010.0    6.0      2.0
37.0    BANK OF HANCOCK CTY  18795.0  7382.0  2010.0    9.0      3.0
37.0    BANK OF HANCOCK CTY  27662.0  8867.0  2010.0   12.0      4.0

In [10]:
banks2010 = df_index.loc[(df_index["year"]== 2010.0)]
banks2010 = banks2010[["name","cash", 'year', 'month','quarter']]
banks2010.groupby(["rssdid"]).mean()

                 cash    year  month  quarter
rssdid
37.0          6915.50  2010.0    7.5      2.5
242.0         1493.25  2010.0    7.5      2.5
354.0          338.25  2010.0    7.5      2.5
457.0         2303.50  2010.0    7.5      2.5
505.0        41104.50  2010.0    7.5      2.5
...               ...     ...    ...      ...
4160667.0   166188.50  2010.0   10.5      3.5
4165907.0     4291.00  2010.0   10.5      3.5
4184186.0   149555.00  2010.0   10.5      3.5
4203911.0    80333.00  2010.0   12.0      4.0
4210227.0  1434364.00  2010.0   12.0      4.0

[6732 rows x 4 columns]

In [11]:
chartertypes = df["chartertype"].value_counts()
print(chartertypes)

200.0    1609540
Name: chartertype, dtype: int64

In [12]:
bhcid_types = df["bhcid"].value_counts()
print(bhcid_types)
print(type(bhcid_types))
print(bhcid_types.sum())

0.0          595896
1120754.0      7319
1119794.0      4586
1068294.0      3739
1199497.0      3074
              ...
1976625.0         1
4031271.0         1
1245527.0         1
4184216.0         1
1247286.0         1
Name: bhcid, Length: 12879, dtype: int64
<class 'pandas.core.series.Series'>
1609527

In [13]:
df_short = df[["rssdid","bhcid","name","assets", 'year', 'month','quarter']]
df_short_2013 = df_short.loc[(df_short["year"]==2013) & (df_short["quarter"]==4)]
total_assets_sum = df_short_2013["assets"].sum()
print("Total assets: " + str(total_assets_sum))

sortByAsset = df_short_2013.sort_values(by="assets", ascending=False)
assets_top10 = sortByAsset.head(10)["assets"].sum()
print("Assets of Top10: " + str(assets_top10))
print("Share of top ten: " + str(assets_top10/total_assets_sum))
print(sortByAsset.head(10))

Total assets: 13508824901.0
Assets of Top10: 7761794131.0
Share of top ten: 0.5745721176995512
           rssdid      bhcid                  name        assets    year  \
1236244  852218.0  1039502.0  JPMORGAN CHASE BK NA  1.945467e+09  2013.0
692494   480228.0  1073757.0       BANK OF AMER NA  1.433716e+09  2013.0
648428   451965.0  1120754.0     WELLS FARGO BK NA  1.373600e+09  2013.0
686299   476810.0  1951350.0           CITIBANK NA  1.346747e+09  2013.0
727367   504713.0  1119794.0             U S BK NA  3.604783e+08  2013.0
1185923  817824.0  1069778.0             PNC BK NA  3.099997e+08  2013.0
778943   541101.0  3587146.0     BANK OF NY MELLON  2.966260e+08  2013.0
54075     35301.0  1111435.0     STATE STREET B&TC  2.390511e+08  2013.0
166556   112837.0  2277860.0        CAPITAL ONE NA  2.384829e+08  2013.0
716161   497404.0  1238565.0             T D BK NA  2.176262e+08  2013.0

         month  quarter
1236244   12.0      4.0
692494    12.0      4.0
648428    12.0      4.0
686299    12.0      4.0
727367    12.0      4.0
1185923   12.0      4.0
778943    12.0      4.0
54075     12.0      4.0
166556    12.0      4.0
716161    12.0      4.0

In [14]:
df_JPMORGAN_2013 = df_short.loc[(df_short["year"]==2013) & (df_short["quarter"]==4) & (df_short["bhcid"]==1039502.0)]
print(df_JPMORGAN_2013)
total_assets_sum = df_JPMORGAN_2013["assets"].sum()
print(total_assets_sum)

            rssdid      bhcid                        name        assets  \
706978    489913.0  1039502.0             CHASE BK USA NA  1.230413e+08
935182    651448.0  1039502.0  JPMORGAN CHASE BK DEARBORN  6.011800e+04
1236244   852218.0  1039502.0        JPMORGAN CHASE BK NA  1.945467e+09
1608862  3812165.0  1039502.0            JPMORGAN B&TC NA  7.835932e+06

           year  month  quarter
706978   2013.0   12.0      4.0
935182   2013.0   12.0      4.0
1236244  2013.0   12.0      4.0
1608862  2013.0   12.0      4.0
2076404334.0

In [15]:
print(df["month"].dtypes)

float64

In [16]:
df["month"] = df["month"].astype(int)

In [17]:
print(df["month"].dtypes)

int32

In [18]:
df1 = df[df.isnull().any(axis=1)]
print(df1.head(5))

   rssdid  chartertype     cert  bhcid        date               name  assets  \
0    28.0        200.0  26606.0    0.0  19860331.0  FIRST ATLANTIC BK  2779.0
1    28.0        200.0  26606.0    0.0  19860630.0  FIRST ATLANTIC BK  4322.0
2    28.0        200.0  26606.0    0.0  19860930.0  FIRST ATLANTIC BK  5118.0
3    28.0        200.0  26606.0    0.0  19861231.0  FIRST ATLANTIC BK  5742.0
4    28.0        200.0  26606.0    0.0  19870331.0  FIRST ATLANTIC BK  7737.0

   reloans    cash  persloans  ...  intincforloans  intincleases  \
0      0.0  1395.0       23.0  ...             NaN           0.0
1    808.0   153.0      820.0  ...             NaN           0.0
2   1406.0   601.0     1063.0  ...             NaN           0.0
3   1701.0   292.0      995.0  ...             NaN           0.0
4   2451.0   701.0     1179.0  ...             NaN           0.0

   intincassets  intexptransdep  intexpsavdep  intexpfordep  \
0          22.0             NaN           NaN           0.0
1          72.0             NaN           NaN           0.0
2         100.0             NaN           NaN           0.0
3         111.0             NaN           NaN           0.0
4         134.0            11.0          16.0           0.0

   intexpfedfundsrepoliab  intincpersloans  intincreloans  \
0                     0.0              NaN            NaN
1                     0.0              NaN            NaN
2                     0.0              NaN            NaN
3                     0.0              NaN            NaN
4                     0.0              NaN            NaN

   dividendoncommonstock
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN

[5 rows x 167 columns]

In [19]:
df_reduced = df[["name","cash", 'year', 'month','quarter']]
print(df_reduced.head(5))

                name    cash    year  month  quarter
0  FIRST ATLANTIC BK  1395.0  1986.0      3      1.0
1  FIRST ATLANTIC BK   153.0  1986.0      6      2.0
2  FIRST ATLANTIC BK   601.0  1986.0      9      3.0
3  FIRST ATLANTIC BK   292.0  1986.0     12      4.0
4  FIRST ATLANTIC BK   701.0  1987.0      3      1.0

In [20]:
print(df.dropna(axis=1).columns.values)

['rssdid' 'chartertype' 'cert' 'date' 'name' 'foreigndep' 'year' 'month'
 'quarter' 'day' 'dateq' 'intexpfordep']

In [21]:
print(df_short.loc[(df_short["bhcid"]==1039502.0) & (df_short["year"]==2013) & (df_short["quarter"]==4)][["rssdid", "name", "bhcid"]])

            rssdid                        name      bhcid
706978    489913.0             CHASE BK USA NA  1039502.0
935182    651448.0  JPMORGAN CHASE BK DEARBORN  1039502.0
1236244   852218.0        JPMORGAN CHASE BK NA  1039502.0
1608862  3812165.0            JPMORGAN B&TC NA  1039502.0

In [22]:
print(df[(df["name"].str.contains("ONE")==True) & (df_short["year"]==2013) & (df_short["quarter"]==4)][["name", "bhcid", "rssdid"]])

                         name      bhcid     rssdid
63158              PIONEER BK  1076422.0    41629.0
100044           PIONEER B&TC  1143511.0    65559.0
141500            ONE AMER BK        0.0    95051.0
166556         CAPITAL ONE NA  2277860.0   112837.0
178707        JONESBORO ST BK        0.0   121651.0
...                       ...        ...        ...
1605033           REDSTONE BK        0.0  3591004.0
1605900  LONE STAR ST BK W TX  3641767.0  3607062.0
1605986          LEVEL ONE BK  3612543.0  3612525.0
1608779              ONE S BK  2037569.0  3807880.0
1608942     CORNERSTONE BK NA        0.0  3816163.0

[83 rows x 3 columns]

In [23]:
print(df[df["year"]==2013])

            rssdid  chartertype     cert      bhcid        date  \
179           37.0        200.0  10057.0        0.0  20130331.0
180           37.0        200.0  10057.0        0.0  20130630.0
181           37.0        200.0  10057.0        0.0  20130930.0
182           37.0        200.0  10057.0        0.0  20131231.0
528          242.0        200.0   3850.0  3088643.0  20130331.0
...            ...          ...      ...        ...         ...
1609535  4262543.0        200.0  59060.0        0.0  20130930.0
1609536  4262543.0        200.0  59060.0        0.0  20131231.0
1609537  4536084.0        200.0  59074.0        0.0  20131231.0
1609538  4569167.0        200.0  58822.0  1085527.0  20131231.0
1609539  4589857.0        200.0  59078.0        0.0  20131231.0

                               name    assets   reloans      cash  persloans  \
179             BANK OF HANCOCK CTY   87258.0   24322.0   10928.0     5285.0
180             BANK OF HANCOCK CTY   88493.0   23992.0    8829.0     5376.0
181             BANK OF HANCOCK CTY   86633.0   24121.0    3609.0     5654.0
182             BANK OF HANCOCK CTY   84878.0   24985.0    6796.0     5613.0
528      FIRST CMNTY BK XENIA FLORA   39615.0   15064.0    4031.0     2636.0
...                             ...       ...       ...       ...        ...
1609535          ALOSTAR BK OF CMRC  770830.0   81532.0   35891.0      173.0
1609536          ALOSTAR BK OF CMRC  808999.0   82185.0   41030.0      175.0
1609537        BANK OF BIRD-IN-HAND   35356.0    3517.0    1250.0        0.0
1609538           NEW TRADITIONS BK  507242.0  269612.0  166758.0     2233.0
1609539              INVESCO NAT TC  270022.0       0.0  203970.0        0.0

         ...  intincforloans  intincleases  intincassets  intexptransdep  \
179      ...             NaN           0.0         837.0             4.0
180      ...             NaN           0.0         839.0             3.0
181      ...             NaN           0.0         951.0             3.0
182      ...             NaN           0.0         973.0             4.0
528      ...             NaN           0.0         363.0             2.0
...      ...             ...           ...           ...             ...
1609535  ...             NaN           0.0       10137.0             5.0
1609536  ...             NaN           0.0       12356.0             4.0
1609537  ...             NaN           0.0      -42074.0           -20.0
1609538  ...             NaN           0.0        2626.0             5.0
1609539  ...             NaN           0.0       -2635.0            -5.0

         intexpsavdep  intexpfordep  intexpfedfundsrepoliab  intincpersloans  \
179               6.0           0.0                     0.0            136.0
180               7.0           0.0                     0.0            157.0
181               7.0           0.0                     0.0            176.0
182               7.0           0.0                     0.0            179.0
528               3.0           0.0                     0.0             50.0
...               ...           ...                     ...              ...
1609535         188.0           0.0                     0.0              2.0
1609536         184.0           0.0                     0.0              1.0
1609537        -675.0           0.0                     0.0             -5.0
1609538         299.0           0.0                     0.0             18.0
1609539        -305.0           0.0                     0.0            -18.0

         intincreloans  dividendoncommonstock
179              362.0                    0.0
180              363.0                  120.0
181              368.0                    0.0
182              389.0                  120.0
528              188.0                   90.0
...                ...                    ...
1609535         2159.0                    0.0
1609536         1892.0                    0.0
1609537       -10030.0                    0.0
1609538         2158.0                    0.0
1609539        -2163.0                    0.0

[23594 rows x 167 columns]

In [24]:
df_banks_without_bhc_2013 = df[(df["bhcid"]==0.0) & (df["year"]==2013)]
df_banks_with_bhc_2013 = df[(df["bhcid"]>0.0) & (df["year"]==2013)]
print(df_banks_without_bhc_2013.head(5))

     rssdid  chartertype     cert  bhcid        date                 name  \
179    37.0        200.0  10057.0    0.0  20130331.0  BANK OF HANCOCK CTY
180    37.0        200.0  10057.0    0.0  20130630.0  BANK OF HANCOCK CTY
181    37.0        200.0  10057.0    0.0  20130930.0  BANK OF HANCOCK CTY
182    37.0        200.0  10057.0    0.0  20131231.0  BANK OF HANCOCK CTY
750   354.0        200.0  14083.0    0.0  20130331.0          BISON ST BK

      assets  reloans     cash  persloans  ...  intincforloans  intincleases  \
179  87258.0  24322.0  10928.0     5285.0  ...             NaN           0.0
180  88493.0  23992.0   8829.0     5376.0  ...             NaN           0.0
181  86633.0  24121.0   3609.0     5654.0  ...             NaN           0.0
182  84878.0  24985.0   6796.0     5613.0  ...             NaN           0.0
750  10966.0   1906.0    897.0      652.0  ...             NaN           0.0

     intincassets  intexptransdep  intexpsavdep  intexpfordep  \
179         837.0             4.0           6.0           0.0
180         839.0             3.0           7.0           0.0
181         951.0             3.0           7.0           0.0
182         973.0             4.0           7.0           0.0
750          76.0             0.0           1.0           0.0

     intexpfedfundsrepoliab  intincpersloans  intincreloans  \
179                     0.0            136.0          362.0
180                     0.0            157.0          363.0
181                     0.0            176.0          368.0
182                     0.0            179.0          389.0
750                     0.0             10.0           21.0

     dividendoncommonstock
179                    0.0
180                  120.0
181                    0.0
182                  120.0
750                    0.0

[5 rows x 167 columns]

In [25]:
banks_2013 = df[df["year"]==2013].head(1000)
counter = 0;
for row in banks_2013.itertuples():
    counter+=1
    dictRow = row._asdict()
    temp_bhcid = dictRow["bhcid"]
    for row1 in banks_2013.itertuples():
        dictRow = row1._asdict()
        temp_rssdid = dictRow["rssdid"]
        if (temp_rssdid == temp_bhcid):
            print(row1)
            break
print(counter)

1000

In [26]:
import numpy as np
array = df["year"].unique()
print(np.sort(array))
print(type(df["year"].unique()))
print(df.year.max())
print(df.year.min())
df[df.year==1976]

[1976. 1977. 1978. 1979. 1980. 1981. 1982. 1983. 1984. 1985. 1986. 1987.
 1988. 1989. 1990. 1991. 1992. 1993. 1994. 1995. 1996. 1997. 1998. 1999.
 2000. 2001. 2002. 2003. 2004. 2005. 2006. 2007. 2008. 2009. 2010. 2011.
 2012. 2013.]
<class 'numpy.ndarray'>
2013.0
1976.0

,rssdid,chartertype,cert,bhcid,date,name,assets,reloans,cash,persloans,...,intincforloans,intincleases,intincassets,intexptransdep,intexpsavdep,intexpfordep,intexpfedfundsrepoliab,intincpersloans,intincreloans,dividendoncommonstock
31,37.0,200.0,10057.0,0.0,19760331.0,BANK OF HANCOCK COUNTY,11426.0,2587.0,569.0,2656.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
32,37.0,200.0,10057.0,0.0,19760630.0,BANK OF HANCOCK CTY,11593.0,2589.0,621.0,2910.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
33,37.0,200.0,10057.0,0.0,19760930.0,BANK OF HANCOCK COUNTY,11998.0,2879.0,875.0,3017.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
34,37.0,200.0,10057.0,0.0,19761231.0,BANK OF HANCOCK CTY,13113.0,2622.0,1299.0,3242.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
218,55.0,200.0,10977.0,0.0,19760331.0,STATE BK OF LITTLEFORK,4940.0,1556.0,271.0,791.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1515624,1492817.0,200.0,18474.0,0.0,19761231.0,FIRST NB IN HOISINGTON,9647.0,505.0,981.0,287.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1528261,2137843.0,200.0,19287.0,0.0,19760331.0,CHELSEA NB,30767.0,146.0,3202.0,2842.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1528262,2137843.0,200.0,19287.0,0.0,19760630.0,CHELSEA NB,32266.0,144.0,3871.0,3265.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1528263,2137843.0,200.0,19287.0,0.0,19760930.0,CHELSEA NB,31765.0,141.0,3187.0,3756.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1528264,2137843.0,200.0,19287.0,0.0,19761231.0,CHELSEA NB,31211.0,125.0,4645.0,3659.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN

In [27]:
df_bhc2013 = pd.read_csv("bhcf1312.txt", sep="^", nrows=1300, low_memory=False)
#print(df_bhc2013.head(5)["RSSD9001"])
tempdf = df_bhc2013[(df_bhc2013["RSSD9017"].str.contains("JP")==True)]
tempdf = tempdf[["RSSD9017", "RSSD9001", "BHC02170", "BHC22170", "BHC52170", "BHC92170", "BHCE2170"]]
tempdf1 = tempdf[["BHC02170", "BHC22170", "BHC52170", "BHC92170"]]
print(tempdf1)

FileNotFoundError: [Errno 2] File b'bhcf1312.txt' does not exist: b'bhcf1312.txt'